/*  */

@font-face {
    font-family: helvetica-th;
    src: url(../font/HelveticaNeueLTStd-Th.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    

}

.elBody {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
   
        overflow-x: hidden;  /* Esto previene desbordes horizontales */
        margin: 0;
        padding: 0;
        

    /*  rgb(223, 212, 212); */

}

h1 {
    font-family: helvetica-th;
    text-align: left;
    font-weight: lighter;
    font-size: 1.1rem;
}

h2 {
    font-family: helvetica-th;
    text-align: left;
    font-weight: lighter;
    font-size: 0.9rem;
}

h3 {
    font-family: helvetica-th;
    text-align: left;
    font-weight: lighter;
    font-size: 0.8rem;
    text-align: center;
    padding: 1vh;
}

p {
    font-family: helvetica-th;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: justify;

}

.cita {
    font-weight: lighter;
    font-style: italic;
    margin-top: 4rem;
    font-size: 1.3rem;
    text-align: center;
    font-family: helvetica-th;
}

 .locura{
    backdrop-filter: blur(10px);
    font-family: helvetica-th !important; 
    
 }
 .locura2{
    margin:  0px 100px;
 }
 .navbar-padded .container {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  
.elBody {
    min-height: 100%;
    padding-top: 80px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 2vh 0;
    width: 60vw; /* o max-width si preferís */
}
.navbar-brand h1 {
    font-size: 1.8rem;
}

.negrita {

    font-weight: bold;
}

.menuNav a {
    text-transform: uppercase;
    font-size: 0.8rem;
}


.menuNav a:hover {
    color: #000000;
}

.textoLinks {
    text-align: center;
}

/* HEADER */


.vsc-controller {
    display: none !important;
    opacity: 0.0 !important;

}


li a {
    font-family: helvetica-th;
    text-size-adjust: 1.8rem;
}

/* Main menu */



/* Footer */
footer {

    margin-top: 20vh;
    border-top: 1px #b1b0b0 solid;
    text-align: center;
    padding-top: 60px;
}


.footerTexto {
    font-size: 0.5rem;
    text-align: center;
}

footer .iconos {
    display: flex;
    justify-content: center;
}

footer .iconos a {
    text-decoration: none;
    padding: 0px 15px;
    margin: 0px 0px 0px 20px;
    border-radius: 50px;
    color: rgb(6, 6, 6);
    font-size: 30px;
}

footer .footerBottom {
    margin: 30px 0px 20px 10px;
}



/* BIO */


.cajaContenedora1 {
    display: flex;
    margin: 0vh 20vw;
    border-bottom: black solid 1px;
}

.textoBio {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: helvetica-th;
    text-align: justify;
}

#tituloBio {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: helvetica-th;

}

.cajaItemTres {
    padding-left: 4vh;
    text-align: left;
    padding-top: 1vh;
}

.cajaContenedora1 img {
    margin-top: 13px;
    border-radius: 10px;
    object-fit: cover;
    height: 55dvh;
    width: 25dvw;
    margin-bottom: 4vh;
    filter: brightness(90%);
    object-position: top;
}

.cajaContenedora1 img:hover {
    filter: brightness(100%);
    cursor: pointer;


}

.cajaContenedora2 {
    display: flex;
    margin: 2vh 20vw;
}

.portfolio {
    display: flex inline-block;
}

.titulosPortfolio {
    padding: 2.8vh 0vw 0.8vh 0vw;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: helvetica-th;


}

.textoSecundario2 {
    font-size: 1.2rem;
    font-weight: 200;
    font-family: helvetica-th;
    text-align: center;

}

.textoSecundario {
    font-size: 1rem;
    font-weight: 200;
    font-family: helvetica-th;
    text-align: justify;


    /* padding-bottom: 1rem; */
}

.textoSecundario4 {
    font-size: 1.2rem;
    font-weight: Bold;
    font-family: helvetica-th;
    text-align: justify;
    text-transform: uppercase;
}


.tituloContacto {
    font-family: helvetica-th;

}

.titulosPortfolio2 {
    padding: 2vh 0vw;
    font-family: helvetica-th;
}

.textoIncio h2 {
    text-align: center;

    font-family: helvetica-th;
}

/* Clientes */

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative; 
    display: flex;
}

.logos-slide {
    display: flex; 
    animation: slide 35s linear infinite;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    width: 120px;
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    width: 120px;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
    animation-play-state: paused;

}


.logos-slide img {
    height: 70px;
    margin: 0 40px;
}

/* INDEX */

@keyframes slide2 {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos2 {
    overflow: hidden;
    padding: 60px 0;
    background: white;
    white-space: nowrap;
    position: relative;
}

.logos2:before,
.logos2:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos2:before {
    width: 120px;
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos2:after {
    width: 120px;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos2:hover .logos-slide2 {
    animation-play-state: paused;

}

.logos-slide2 {
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide2 img {
    height: 350px;
    margin: 0 20px;
}



/* } */



/*  */

/* .cajaContenedora4 {
    display: inline-flex;
    margin: 2vh 20vw;
}

.cliente{
    width: 10vw;
    border-radius: 10px;
    padding: 0vh 2vw 0vh 2vw;
   
} */
/* Proyectos */

.textoAltura {
    height: 140px;
}

.tituloProyectos {
    /* text-align: center; */
    margin: 1vh 20vw 0vh 20vw;
    font-weight: bold;
    font-size: 1.8rem;

}

.tituloProyectos1 {
    /* text-align: center; */
    margin: 1vh 20vw 0vh 20vw;
    font-weight: bold;
    font-size: 2.2rem;


}

.premios {
    text-align: center;
    margin: 1vh 20vw 0vh 20vw;
    font-weight: bold;
}

.video {
    height: 50.5vh;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

/* .video2 {
    height: 50vh;
    width: 40vw;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    justify-content: left;
    align-items: top;

    
} */


.minutos {
    justify-self: right;
    align-self: right;
}


.player iframe {
    border-radius: 10px;
}

.player:hover {
    transform: scale(1.01, 1.01);
}


.mapa {
    height: 40vh;
    width: 40vw;


}

.titulosContacto {
    padding: 0vh 0vw;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bolder;


}

.cajaContenedora3 {
    display: flex;
    margin: 2vh 20vw;
    justify-content: center;
    text-align: center;
}

.cajaContenedora4 {
    display: flex;
    margin: 2vh 20vw;

}

.cajaContenedora5 {
    margin: 2vh 20vw;

}




.cajaContenedora3 video {
    padding-top: 0vh;
    width: 55vw;
    height: 45vh;
    object-fit: cover;
    border-radius: 15px;
    /* position: absolute;
    bottom: 80px; */


}

.fotoMain {
    width: 36vw;
    height: 40vh;
    object-fit: cover;
}

.language {

    text-decoration: none;
    text-transform: none;
    font-size: 2rem;
    font-family: helvetica-th;

}

.fotito {
    height: 50vh;
    width: 41vw;
    object-fit: cover;
    margin-top: 2rem;
    border-radius: 10px;
    
}

/* RESPONSIVES */

@media (min-width: 0px) and (max-width: 1200px) {

    /* Index */
    .logos-slide2 img {
        height: 280px;

    }

    .logos2:before,
    .logos2:after {
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        content: "";
        z-index: 2;
    }


    .textoSecundario4 {
        font-size: 1.4rem;
        text-align: left;
        text-transform: none;
        text-decoration: none;


    }

    /* BIO */




    .textoSecundario {
        text-align: left;
    }



    .textoBio {
        text-align: left;
    }

    .cajaContenedora1,
    .cajaContenedora2 {
        display: grid;
        grid-template-columns: 1fr;
    }

    .cajaItemTres {
        padding-left: 0vh;
        padding-top: 5vh;
    }
    
    .cajaContenedora1 img {

        height: 55vh;
        width: 60vw;
        margin-bottom: 4vh;
    }


    .fotito {
        height: 50vh;
        width: 60vw;
        object-fit: cover;


    }

    footer .iconos a {


        font-size: 18px;
    }

}

@media (min-width: 0px) and (max-width: 600px) {

    .fotito {
        height: 30vh;
        width: 60vw;
        object-fit: scale-down;
        /* object-fit: scale-down; */

        object-position: top;


    }

    /* Index */
    .textoSecundario4 {
        border-bottom: 0.2px solid rgb(50, 49, 49);
        text-align: left;

    }

    .logos2:hover .logos-slide2 {
        animation-play-state:unset;
    
    }


    /*  */
    .logos {
        padding: 40px 0;

    }



    h1 {
        font-family: helvetica-th;
        text-align: left;
        font-weight: lighter;
        font-size: 0.9rem;
    }

    h2 {

        font-size: 0.7rem;
    }

    h3 {

        font-size: 0.6rem;
    }


    p {

        font-size: 0.8rem;

    }

    .cita {

        font-size: 1rem;

    }

    .tituloProyectos {
        font-size: 1.5rem;

    }

    .tituloProyectos1 {

        font-size: 1.8rem;



    }


    .titulosPortfolio {

        font-size: 1.4rem;



    }

    .textoSecundario2 {
        font-size: 1rem;


    }

    .textoSecundario {
        font-size: 0.8rem;


    }

    .video {
        height: 20.5vh;
        width: 61vw;

    }

}

@media (min-width: 600px) and (max-width: 999px) {
    /* BIO */


    .video {

        width: 60vw;
        height: 30vh;




    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    /* BIO */


    .video {

        width: 60vw;
        height: 40vh;




    }
}

.link-vision{
    text-decoration: none;
    color: black;
}
/* 


@media (min-width:1501px) and (max-width: 1700px) {
    .cartasLenguaje img {
        height: 8vh;
        width:6svw;
        margin: 0px 2rem 0rem 2rem;
      }
    }
@media (min-width: 768px) and (max-width: 1500px) {
.cartasLenguaje img {
    height: 6vh;
    width:6vw;
    margin: 0px 2rem 0rem 2rem;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
    .cartasLenguaje img {
        height: 12vh;
        width:18vw;
        margin: 0rem 0rem 2rem 0rem;
      }
    .cartasLenguaje{
        margin-left:20vw ;
    }
    } 